<table class="zci__table">
    <tr class="zci__table__tr">
        <td>Company:</td>
        <td><strong>{{company}}</strong></td>
    </tr>
    <tr class="zci__table__tr">
        <td>Country:</td>
        <td>{{country}}</td>
    </tr>
    <tr class="zci__table__tr">
        <td>Range:</td>
        <td>{{MacAddress_formatMAC startHex}} - {{MacAddress_formatMAC endHex}}</td>
    </tr>
</table>
